<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>Mission 4 - StifCo - WIP</h1>
		<h2>Salut <%=  prenom  %> (ID: <%= idnavigo %>)</h2>
		<a href="/login">Login</a>
		<br>
		<a href="/inscription">Inscription</a>
		<br>
		<a href="/ajoutDemande">Ajout Demande</a>
		<br>
		<a href="/voirDemande"> Voir Demande</a>
		<br>
		<a href="/offres"> Voir Offres</a>
	</body>
</html>
