<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inscription Mission 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Inscription <small> Mission4</small></h1>
</div>

<!-- Simple Inscription - START -->
<form class="col-md-12">
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Nom">
    </div>
	<div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Prénom">
    </div>
	<div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="E-mail">
    </div>
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="ID Navigo">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Mot de passe">
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="Confirmer Mot de passe">
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-lg btn-block">S'inscrire</button>
        <span><a href="#">Besoin d'aide ?</a></span>
        <span class="pull-right"><a href="/login"> Se connecter</a></span>
    </div>
</form>
<!-- Simple Login - END -->

</div>

</body>
</html>